

<div class="center-alert">
   <%= render :partial => 'shared/flash_messages' %>
</div>

<h1>All Events</h1>

<h3><%= link_to "Create New Event", new_user_event_path(@user) %></h3>
<h3>
  <%= link_to "Ajax New Event", new_user_event_path(@user), id: "ajax-new-event", class: "ajax-new-event" %>
</h3>

<p><strong>Events You Created:</strong></p>

<table class="table">
  <tbody>

    <tr><!--this will name the columns-->
      <td><strong>Name</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>When</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>

    <tr><!--this will list the details of the column name-->
      <% @events.each do |event| %>
        <% if event.event_guests.any? {|guest| !guest.rsvp }%>
          <td><%= link_to "#{event.name}", user_event_path(@user, event) %></td>
          <td><%= event.location %></td>
          <td><%= event.date.strftime("%b %d, %Y") %></td>
          <td><%= link_to "Edit", edit_user_event_path(@user, event) %></td>
          <td><%= link_to "Delete", user_event_path(@user, event), method: :delete %></td>
    </tr>
        <% end %>
      <% end %>
  </tbody>
</table><br>

<!-------------------------------------------------------------------->

<p><strong>Your Events With All Guests Attending:</strong></p>

<table class="table">
  <tbody>

    <tr><!--this will name the columns-->
      <td><strong>Name</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>When</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>

    <tr><!--this will list the details of the column name-->
      <% @events.each do |event| %>
        <% if event.event_guests.all? {|guest| guest.rsvp} %>
          <td><%= link_to "#{event.name}", user_event_path(@user, event) %></td>
          <td><%= event.location %></td>
          <td><%= event.date.strftime("%b %d, %Y") %></td>
          <td><%= link_to "Edit", edit_user_event_path(@user, event) %></td>
          <td><%= link_to "Delete", user_event_path(@user, event), method: :delete %></td>
    </tr>
        <% end %>
      <% end %>
  </tbody>
</table><br>

<!-------------------------------------------------------------------->


<p><strong>Events You've Been Invited to:</strong></p>

<table class="table">
  <tbody>

    <tr><!--this will name the columns-->
      <td><strong>Name</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>When</strong></td>
    </tr>

    <tr><!--this will list the details of the column name-->
      <% @invites.each do |invite| %>
          <td><%= link_to "#{invite.name}", user_event_path(@user, invite) %></td>
          <td><%= invite.location %></td>
          <td><%= invite.date.strftime("%b %d, %Y") %></td>
      </tr>
      <% end %>

  </tbody>
</table>

<div class="modal fade" id="new-event-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create New Event</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
